body{
    background-image: url('../images/stars_texture.jpg');
}

#animate{
    position: relative;
    left: 100px;
}

#player1{
    border-Collapse: collapse;
    text-Align: center;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#player2{
    border-Collapse: collapse;
    text-Align: center;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td {    
    width: 30px;
    height: 30px;
    color: 	#CCFF00;
}

#type1::after{
    content: " Ship";
}

#type1{
    background-image: url('../images/stars_texture.jpg');
    border: 2px solid #84DE02;
    bottom: 50px;
}

#type1:hover { 
    background-image: none;
    background-color: #84DE02;
    color:black;
}

#type2::after{
    content: " Ship";
}

#type2{
    bottom: 110px;
    background-image: url('../images/stars_texture.jpg');
    border: 2px solid #A0E6FF;
}

#type2:hover { 
    background-image: none;
    background-color: #A0E6FF;
    color: black;
}

#rotate3{
    bottom: 230px;
    background-image: url('../images/stars_texture.jpg');
    border: 2px solid #770909;
}

#rotate3:hover { 
    background-image: none;
    background-color: #770909;
    color:black;
}

#type3::after{
    content: " Ship";
}

#type3{
    background-image: url('../images/stars_texture.jpg');
    border: 2px solid rgb(150, 87, 6);
    bottom: 170px;
}

#type3:hover { 
    background-image: none;
    background-color: rgb(150, 87, 6);
    color:black;
}

.vaiss {
    border: 2px;
    padding: 14px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: white; 
    position: absolute;
    right: 50px;
    width: 165px;
}

.imageclass{
    background-image: url('Moyen.png');
}