* {
    margin: 0;
    padding: 0;
}


body {
    background-size: cover;
    margin: auto;
    margin-left: 0;
    width: 100%;
}
#logo {
    margin: 45px;
}

#messageBox {

    position: absolute;
    top: 30px;
    left: 720px;
    height: 30px;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: bisque;
    
}

.stats {
    float: right;
    margin-top: 30px;
    margin-right: 120px;
    width: 400px;
    height: 170px;
    background-color: black; 
    border: 8px solid #ce6017;
    border-radius: 8px;
}

.stats h2 {
    text-align: center;
    margin: 20px;
    color: #ce6017;
}

.stats h3 {
    color: #ce6017;
}

#you {
    float: left;
    margin-left: 40px;
}

#opponent {
    float: right;
    margin-right: 15px;
}

.stats p {
    text-align: center;
    color: #ce6017;
    margin: 20px;
    clear: both;
}

.buttons {
    float: left;
    width: 200px;
    margin-top: 80px;
    margin-left: 60px;
}

.buttons input {
    margin: 10px;
}

.buttons input:active {
	 
	transform: scale(1.1); 
}

#ready {
    padding: 25px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

#rotate {

    float: left;
    margin-left: 85px;
    width: 35%;
    size: 70%;
}

main h2 {
    display: inline;
    position: relative;
    top: 40px;
    margin-left: 305px;
    margin-right: 160px;
}

#player2 td{
    height: 38px;
    width: 38px;
    transition: height 100ms;
    transition: width 100ms;
}

#player1 td
{
    height: 38px;
    width: 38px;
    transition: height 100ms;
    transition: width 100ms;
}


#player1{
   
    display: inline;
    border-Collapse: collapse;
    text-Align: center;
    align-Content: center;
    position: relative;
    top: 50px;
    left: 150px;
}

.isDone1
{
    height:35px;
    width:35px;
}

.isDone2
{
    height: 38px;
    width:38px;
}

#player2{
   
    display: inline;
    border-Collapse: collapse;
    text-Align: center;
    align-Content: center;
    position: relative;
    top: 50px;
    left: 310px;
}


p,h2,h3 {

    font-family: Helvetica, Sans-Serif;
}
.transition
{
    animation: blinker 2s linear infinite;
}
.notransition
{
    animation: none;
}
@keyframes blinker {
	50% {
	  opacity: 0;
	}
}