<!doctype html>
<html>
	<head>
		<title>Space Battleship</title>
		<link rel="icon" type="image/png" href="media/logo.png">
		<link href="styles/SplashScreen.css" rel="stylesheet" type="text/css">
	</head>
	<body background="media/background.png">

		<img src="media/logobig.png" id="logo" alt="GameLogo">
		
		<div class="buttons">
			<input type="image" id="playButton" src="media/play.png" />	
		
			<input type="image" id="howButton" src="media/how.png" />
		
			<input type="image" id="settingsButton"src="media/settings.png" />
		</div>

		<div class="stats">

			<p id="online">Players Online: <%= nPlayers %> </p>
			<p id="played">Total Games Played: <%= nGames %> </p>
			<p>You visited this website <%= n %> times</p>
			
		</div>

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="scripts/splash.js"></script>
	</body>
</html>